$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// variables de colores de fonts
$footer:(

    color: #ffff,
    backgroun:#333333,
);

$white: #fff;

// colores de card
$card-blue: #478ac9;
$card-sky: #83b9dc;
$card-yellow: #e8b333;

//boton

$btn-color:#111;

$container-max-width:(
    md:991px,
)