.Home {

    &-text {
        display: block;
        margin-block-start: 16px;
        margin-block-end: 16px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    &Card-container {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 22px;
        margin-top: -146px;
        place-items: center;
        place-content: center;

        @media (max-width: map-get($container-max-width,md)){
         grid-auto-flow: row;
         grid-template-columns: repeat(auto-fill, 335px);
        }
    }

    &-freepik {
               
        font-family: $font-primary;
        text-align: center;
        max-width: 434px;
        width: 100%;
        margin: 30px auto 55px;

        &-link {

            text-decoration: none;
            font-weight: bold;
            color: $card-blue;
        }

    }

    &Footer {
        background-color: map-get($footer, backgroun);
        width: 100%;
        text-align: center;
        color: map-get($footer, color);
        font-size: 14px;
        height: 161px;
        line-height: 161px;

        &-link {
            color: $card-blue;

        }



    }

    &-banner {
        background-image: url(/assets/img/fgd-min.jpg);
        width: 100%;
        height: 567px;
        display: block;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
    }

}