@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 30px 30px 20px;
  max-width: 349px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
@media (max-width: 991px) {
  .card {
    max-width: 291px;
  }
}
.card-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.card-text {
  text-align: center;
  margin: 20px 2px 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
}
.card-button {
  text-transform: uppercase;
}
.card.Accounting {
  background-color: #478ac9;
}
.card.Business {
  background-color: #83b9dc;
}
.card.Employment {
  background-color: #e8b333;
}

.button {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid 1px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 22px 58px 22px 57px;
  color: #111;
  background-color: #fff;
  border: none;
}

.Home-text {
  display: block;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.HomeCard-container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 22px;
  margin-top: -146px;
  place-items: center;
  place-content: center;
}
@media (max-width: 991px) {
  .HomeCard-container {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 335px);
  }
}
.Home-freepik {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  max-width: 434px;
  width: 100%;
  margin: 30px auto 55px;
}
.Home-freepik-link {
  text-decoration: none;
  font-weight: bold;
  color: #478ac9;
}
.HomeFooter {
  background-color: #333333;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  height: 161px;
  line-height: 161px;
}
.HomeFooter-link {
  color: #478ac9;
}
.Home-banner {
  background-image: url(/assets/img/fgd-min.jpg);
  width: 100%;
  height: 567px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */