.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid 1px;
    font-weight: 700;
    margin: 20px auto 0;
    padding: 22px 58px 22px 57px;
    color: $btn-color;
    background-color: $white;
    border:none;
}