
.card {
    display: flex;
    padding: 30px 30px 30px 20px;
    max-width:349px ;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: $white;
   
    @media(max-width:991px){
       max-width: 291px;
    }


    &-title {
        font-size: 24px;
        line-height: 1.2;
        font-family: $font-secondary;
        text-align: center;
    }

    &-text {
        text-align: center;
        margin: 20px 2px 0 0;
        font-family: $font-primary;
        font-size: 16px;
        font-style: italic;
        line-height: 1.6;
        
    }

    &-button { 
        text-transform: uppercase;
    }

    &.Accounting {
        background-color: $card-blue;
    }

    &.Business {
        background-color: $card-sky;
    }

    &.Employment {
        background-color: $card-yellow;
    }
}